/* Base CSS */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body { 
   font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;

}
a:hover { text-decoration: none }


.top-area {
  background: #ededed;
}
.address p {
  display: inline-block;
  margin-right: 40px;
  color: #545454;
  font-size: 14px;
}
.address i {
  margin-right: 20px;
}


.language {
  text-align: right;
}
.language a {
  display: inline-block;
  color: #545454;
  background: #f5f5f5;
  padding: 15px 20px;
  font-size: 16px;
  font-style: normal;
}
.language a:last-child {
  margin-left: -5px;
}

.language a:hover {
  background: #fff;
}

.header-middle-area {
    padding: 20px 0;
}

.single-promo-content-info p {
  margin: 0;
  line-height: 20px;
  font-family: 'Lora', serif;
  color: #52657d;
  padding-left: 10px;
  font-size: 15px;
}
.single-promo-content-info {
  display: inline-flex;
  align-items: center;
  padding-left: 18px;
  border-left: 1px solid;
  margin-left: 14px;
}
.single-promo-content-info:first-child {
  padding-left: 0;
  border: none;
  margin: 0;
}


.mainmenu-area {
  background: #0071bb;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainmenu li {
  display: inline-block;
}
.mainmenu li a {
  display: block;
  padding: 15px 50px;
  color: #fff;
}
.mainmenu li a:first-child {
  padding-left: 0;
}
.dropdown i.fa {
  padding-left: 10px;
}
.Apointment i.fa {
  padding: 0 20px;
}
.mainmenu li:nth-child(8) {
  background: #f6bc1f;
  margin: 8px 00;
}
.mainmenu li:nth-child(8) a {
  color: #333;
}

.transparent-bg-1{ background-image: url(../img/transparent-bg-1.png);}


.banner-area {
  background-position: center;
  background-size: cover;
  height: 580px;
}
.banner-img img {
  height: 593px;
}
.banner-img {
  width: max-content;
}



.banner-info {
  padding: 50px 0;
  margin-top: 110px;
}
.banner-info p {
  color: #0071bb;
  font-size: 22px;
  font-style: italic;
  font-family: 'Roboto';
  margin-bottom: 30px;
}
.banner-info h2 {
  color: #333944;
  font-size: 43px;
  font-weight: 700;
  font-family: 'Roboto';
  margin-bottom: 35px;
}


a.learn-more-bnt {
  background: #f6bc1f;
  padding: 18px 20px;
}
.bordered-btn a {
  font-size: 15px;
  border-radius: 5px;
}
a.learn-more-bnt i.fa {
  margin-left: 24px;
  padding: 0 20px;
  border-left: 1px solid;
  color: #333;
}
a.Appointment-bnt i.fa {
  margin-left: 20px;
  padding: 0 21px;
  border-left: 1px solid;
  color: #fff;
}
a.Appointment-bnt {
  background: #0071bb;
  color: #fff;
  padding: 18px;
  font-family: 'Roboto';
}


.span-area span {
  background: #aaaaaa;
  height: 5px;
  width: 33px;
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: 90px;
}
.span-area span.active {
    background: #0071bb
}


.about-us-are {
  margin-bottom: 65px;
}
.about-us-promo-info {
  margin-top: 20px;
}
.single-about-us-info {
  display: inline-flex;
  font-size: 18px;
  color: #1485ca;
  margin-right: 52px;
  font-family: 'Roboto';
}
.single-about-us-info img {
  display: block;
  margin-right: 20px;
}
.single-about-us-info:last-child {
  margin: 0;
}
.about-us-title p {
  font-size: 16px;
  color: #1f1f2e;
  font-family: 'Lora';
  font-style: italic;
  font-weight: normal;
  padding: 10px;
  position: relative;
}

.about-us-title p::before {
  position: absolute;
  width: 35px;
  height: 2px;
  bottom: -7px;
  left: 48%;
  content: "";
  background: #0071bb;
}
.about-us-title p::after {
  position: absolute;
  width: 35px;
  height: 2px;
  bottom: -1px;
  left: 45%;
  content: "";
  background: #0071bb;
}
.about-us-title h2 {
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 700;
}
.about-us-title {
  color: #1f1f2e;
  text-align: center;
  padding: 30px;
}
.about-us-info p {
  font-family: 'Roboto';
  font-size: 17px;
  line-height: 26px;
  font-weight: 300;
}


.white-border {
  position: relative;
}
.white-border:before {
  position: absolute;
  border: 1px solid #fff;
  content: "";
  width: 95%;
  height: 95%;
  top: 7px;
  left: 12px;
}


.solid-color-bg {
  background: #1e93d8;
}
.transparent-bg-3 {
  background-image: url(../img/transparent-bg-3.png);
}


.transparent-bg-3 {
  background-size: cover;
  background-position: center;
  min-height: 850px;
}
.our-service-title {
    text-align: center;
    color: #fff;
    margin: 30px 0;
}
.our-service-title p {
  font-family: 'Lora', serif;
  font-style: italic;
  position: relative;
}
.our-service-title p::before {
  position: absolute;
  width: 35px;
  height: 2px;
  bottom: -20px;
  left: 48%;
  content: "";
  background: #fff;
}
.our-service-title p::after {
  position: absolute;
  width: 35px;
  height: 2px;
  bottom: -13px;
  left: 45%;
  content: "";
  background: #fff;
}
.our-service-title h2 {
  font-size: 26px;
  margin-top: 30px;
  font-family: 'Roboto;';
  font-weight: 700;
}
.services-list {
  margin-bottom: 25px;
}
.services-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.services-list li {
  display: inline-block;
  text-align: center;
  background-color: #49a7de91;
}
.services-list li a {

    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 49px;
    font-family: 'Roboto';

}

.services-list ul li a.active {
  background: #fff;
  color: #333;
  position: relative;
}
.services-list ul li a.active:before {
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 10px;
  height: 10px;
  content: "";
  background: #fff;
  rotate: 45deg;
}


.single-service-item-text-area h2 {
  font-size: 20px;
  color: #000000;
  font-family: 'Roboto';
  font-weight: normal;
}
.single-service-item-text-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}
.single-service-item-img-area img {
  min-height: 489px;
}
.single-service-item-text-area li {
  display: block;
}
.single-service-item-text-area li a {
  display: block;
  color: #1e93d8;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 36px;
}
li a i.fa.fa-angle-right::before {

    margin-right: 10px;

}
.single-service-item-text-area {
  background: #fff;
  margin-left: -15px;
  padding: 30px;
}
.single-service-item {
  margin: 0px;
  padding: 0;
}
.single-service-item-img-area {
  margin-right: -15px;
}
.single-service-item-text-area-list a.learn-more-btn {
  background: #f6bc1f;
}

.single-service-description-paragraph {

    margin-bottom: 30px;
    font-weight: 300;
    font-family: 'Roboto';

}
a.learn-more-btn {
  background: #f6bc1f;
  padding: 15px 25px;
  color: #fff;
}
a.get-an-appointment {
  background: #0071bb;
  color: #fff;
  padding: 15px 25px;
  margin-left: 10px;
  text-transform: uppercase;
}

.our-doctors-area {
  font-family: 'Roboto', sans-serif;
}
.our-doctors-title h2 {

    font-size: 25px;
    font-weight: normal;
    margin-top: 30px;

}
.our-doctors-title p {
  font-family: 'Lora', serif;
  font-style: italic;
  position: relative;
}
.our-doctors-title p::before {
  position: absolute;
  width: 35px;
  height: 2px;
  bottom: -20px;
  left: 48%;
  content: "";
  background: #0071bb;
}
.our-doctors-title p::after {
  position: absolute;
  width: 35px;
  height: 2px;
  bottom: -13px;
  left: 45%;
  content: "";
  background: #0071bb;
}
.our-doctors-title {
  color: #1f1f2c;
  margin: 55px 0;
}
.doctor-description-meta h3 {
  font-size: 18px;
  color: #f6bb1f;
}
.doctor-description-meta {
  background-color: #333a44;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding: 15px 0;
  border-top: 2px solid #0071bb;
}
.doctor-description-meta p {
  color: #fff;
  font-size: 13px;
  margin-top: -9px;
}
